data/*
out/*
.Rhistory
.Rdata
.RData
*.bak
*.log
*.lot
*.synctex.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.run.xml
*.tex
*.toc
*blx.bib
tex/tesis_lma.sublime-workspace
tex/tesis_lma.sublime-project
*.sublime-workspace
